<p>Tổng số sách: {{books.length}}</p>
<table class="table table-dark table-striped">
  <tr>
    <th>Tên sách</th>
    <th>Tác giả</th>
    <th colspan="2">#</th>
  </tr>
  <ng-container *ngFor="let product of books">
    <tr>
      <td><a [routerLink]="['/detail-book/',product.id]"><td>{{product.title}}</td></a>
      <td>{{product.author}}</td>
      <td><button><a [routerLink]="['/update-book/',product.id]">Edit</a></button></td>
      <td><button (click)="deleteBook(product.id)">Delete</button></td>
    </tr>
  </ng-container>
</table>
