<p>Tổng số sách: {{books.length}}</p>
<table class="table table-dark table-striped">
  <tr>
    <th>Tên sách</th>
    <th>Tác giả</th>
    <th colspan="2">#</th>
  </tr>
  <ng-container *ngFor="let book of books">
    <tr>
      <a [routerLink]="['/detail-book/',book.id]"><td>{{book.title}}</td></a>
      <td>{{book.author}}</td>
      <td><button><a [routerLink]="['/update-book/',book.id]">Edit</a></button></td>
      <td><button (click)="deleteBook(book.id)">Delete</button></td>
    </tr>
  </ng-container>
</table>
